* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


input {
  color: white;
  font-size: 30px;
}

body {
  background: #202124;
  color: #fff;
  font-weight: bold;
}

#menu {
  display: flex;
  justify-content: right;
  list-style: none;
}

#menu,
li {
  padding: 15px;
}

a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.font {
  font-family: fontawesome;
  width: 600px;
  padding: 20px;
  border-radius: 20px;
  background-color: #202124;
  border: 2px solid white;
  display: flex;
}

.font:hover {
  background-color: transparent;
  opacity: 0.5;
}

h1 {
  display: flex;
  justify-content: space-around;
  padding: 80px;
  font-size: 120px;
}

._button {
  display: flex;
  justify-content: center;
  padding: 1px;
}

._button,
button {
  padding: 12px;
  margin: 30px;
}

#google,
#got {
  background-color: #303134;
  border: 1px solid #303134;
  color: #e8eaed;
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
}

#google:hover {
  border: 0.4px solid #e8eaed;
}

#got:hover {
  border: 0.4px solid #e8eaed;
}

pre{
    display:flex;
    justify-content:center;
    color: #8ab4f8;
    cursor:pointer;
    font-family:Arial, Helvetica, sans-serif;
}

.india{
    margin:40px;
    padding:40px;
     background-color:black;
     opacity:0.3;
}

#pre{
    display:flex;
    justify-content:center;
    padding:20px;
    opacity: 1 !important;
}


ul li i{
    cursor: pointer;
}




